body {
    font-family: 'Aclonica', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

.green-color {
    color: rgb(16, 177, 16);
}

.felxible-container {
    display: flex;
    margin-bottom: 150px;
}

.half-width {
    width: 50%;
}

.half-width {
    margin-left: 10px;
}

.half-width {
    padding-left: 7%;
}

.half-width img {
    width: 60%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(green, rgb(36, 192, 36));
    padding: 10px 40px;
    font-weight: 600;
    font-size: x-large;
    border-radius: 7px;
    color: white;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.right-padding {
    padding-right: 130px;
}

#only-this {
    padding-left: 130px;
}

.experience-items {
    box-shadow: 10px 10px 30px rgb(64, 187, 64);
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
}

#full-stack-developer {
    border-left: 7px solid orangered;
    border-radius: 5px;
}

#baby-web-developer {
    border-left: 7px solid rgb(4, 130, 42);
    border-radius: 5px;
}

footer {
    text-align: center;
}

p {
    text-align: justify;
}